html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--gray);
  color: var(--white);
}

.main-button {
  width: 100%;
  max-width: 32rem;
  height: 5rem;
  border-radius: 1rem;
  text-decoration: none;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green);
  background: transparent;
  border: 1px solid var(--green);
  transition: all 0.5s ease;
  margin: 1.6rem 0;
}

.main-button:hover {
  transform: scale(1.05);
  background: var(--green);
  color: var(--gray);
}
